<html>
    <head>
        <title>Apples and oranges</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <script src="/assets/client-to-server.js"></script>
    </head>
    <body>
        <h1>Apples and oranges</h1>
        <p>What is A and O? Yada yada TODO</p>

        TODO write stuff

        TODO contact info
    </body>
</html>