<html>
    <head>
        <title>Apples and oranges</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <script src="/assets/client-to-server.js"></script>
    </head>
    <body>
        <h1>Thanks!</h1>
        <p>You have contributed your time to science. What a noble endeavour!</p>

        <p>Soon, this website will provide more statistics related to your answer. For now, you can either...</p>

        <p><a href="/">1) Go again, this was fun!</a></p>

        <p><a href="/about">2) Read more about what this is about.</a></p> 
    </body>
</html>