<html>
    <head>
        <title>Apples and oranges</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link href="assets/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="assets/fonts.css" rel="stylesheet" type="text/css" media="all" />
        <script src="/assets/client-to-server.js"></script>
    </head>
    <body>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1></span><a href="#">Apples and oranges</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="" accesskey="1" title="">Match up!</a></li>
				<li><a href="about" accesskey="2" title="">About</a></li>
				<li><a href="about" accesskey="3" title="">Contact</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="wrapper">
        <h1>Thanks!</h1>
        <p>You have contributed your time to science. What a noble endeavour!</p>

        <p>Soon, this website will provide more statistics related to your answer. For now, you can either...</p>

        <p><a href="/">1) Go again, this was fun!</a></p>

        <p><a href="/about">2) Read more about what this is about.</a></p> 
</div>

<!-- FOOTER -->
<div id="copyright" class="container">
    <p>&copy; 2017 Marcus Näslund. All rights reserved. | <a href="about">What is this?</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

</body>

</html>